/* VARIABLES */

// Colours
$lightgrey: #f1f2f5;
$white: #fff;
$shadow: #333;
$bordergrey: #d9dadd;

$buttondark : #5bc0c3;
$buttonDarkBoundry: #0ebdc0;
$buttonLight: #5ebfbd;

$darkBlack: #565659;
$lightBlack:#5a6176;

$lightblue: #56c0d0;


$footerback: #454850;
$footerBorder: #575b64;
$footerGrey: #969eb7;
$footerBlue:#56c0d0;
