<link rel="stylesheet" href="themes/opencharity/css/styles.css" />
<header>
      <div class="wrapper">
        <div class="flex-container menu-container">
          <div class="logo">
            <img src="themes/opencharity/images/logo.jpg" alt="logo"/>
          </div>
          <a class="menu-toggle"></a>
          <nav class="menu">
            <ul>
              <li>
                <a href="#ourmission" class="menu-item">ABOUT OPEN CHARITY</a>
              </li>
              <li>
                <a href="#blog" class="menu-item">THE BLOG</a>
              </li>
              <li>
                <a href="#" class="menu-item button-link">
                  <button type="button" id="joinus" class="menu-item-button button-white">JOIN US</button>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <form>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="email" />
      <textarea placeholder="Reasons for joining us" rows="10"></textarea>
      <button type="button" id="register" class="button-white">Register</button>
    </form>

    <main>
      <section class="banner-section">
        <div class="lead-banner">
          <div class="wrapper">
            <div class="banner-overlay">
              <p class="banner-title">
                Sharing Ideas For Charities
              </p>
              <p>Many charities' goals are similar, as is the functionality we require, but little
                <br/>
                shared working takes place.
              </p>

              <p>By working together, dricing shared areas of interest and influencing open source
                <br/>
                developments we can bring efficiences, improve the digital experince for our users, and
                <br/>
                have great impact.

                <p class="large">Together we can make a bigger difference.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="events">
          <div class="wrapper">
            <div class="flex-container">
              <div class="events-details">
                <p class="events-details-timings bold">
                  <span>Next Event:
                  </span>June 23<sup>rd</sup>
                  2016 18:30 - 21:00
                </p>
                <p class="events-details-location">
                  Cancer Research UK, Angel Building, 407 St John Street, London EC1V 4AD
                </p>
              </div>

              <div class="events-register">
                <button type="button" class="button-dark">REGISTER</button>
              </div>
            </div>
          </div>
        </section>

        <section class="getinvolved">
          <div class="wrapper">
            <h2 class="getinvolved-heading section-heading">
              GET INVOLVED
            </h2>
            <div class="flex-container">
              <div class="getinvolved-item">
                <img src="themes/opencharity/images/section2_meetup.jpg">
                <h3>WE DO MEETINGS</h3>
                <p>We organize our meetings throughout the OpenCharity
                  <br/>
                  MeetUp Group</p>
                <button type="button" class="button-white">MEETUP GROUP</button>
              </div>

              <div class="getinvolved-item">
                <img src="themes/opencharity/images/section2_slack.jpg">
                <h3>WE COLLABORATE</h3>
                <p>OpenCharity have a slack group for daily for
                  <br/>
                  daily collaboration</p>
                <button type="button" class="button-white">SLACK GROUP</button>
              </div>

              <div class="getinvolved-item">
                <img src="themes/opencharity/images/section2_share.jpg">
                <h3>WE SHARE</h3>
                <p>We have a Google Group set up to share tools
                  <br/>
                  and documents</p>
                <button type="button" class="button-white">GOOGLE GROUP</button>
              </div>
            </div>
          </div>
        </section>

        <section id="ourmission" class="ourmission">
          <div class="wrapper">
            <h2 class="section-heading">OUR MISSION</h2>
            <p class="ourmission-text">
              Charities and Partners collaborating and sharing open solutions and ideas to create value in the digital space.
            </p>
            <p class="ourmission-text bold">
              If you are a charity or a supplier, we are ready to welcome you.
            </p>
            <div class="flex-container">
              <div class="ourmission-item">
                <img src="themes/opencharity/images/section3_bulb.jpg" alt="bulb">
                <div class="ourmission-item-text">
                  <p class="bold">We help charities</p>
                  <p>share knowledge and working practice to make<br/>
                    the best technology choices.</p>
                </div>
              </div>
              <div class="ourmission-item">
                <img src="themes/opencharity/images/section3_people.jpg" alt="people">
                <div class="ourmission-item-text">
                  <p class="bold">We bring together</p>
                  <p>charities and suppliers to the charity sector to
                    <br/>
                    share best practices.</p>
                </div>
              </div>
              <div class="ourmission-item">
                <img src="themes/opencharity/images/section3_thumb.jpg" alt="thumb">
                <div class="ourmission-item-text">
                  <p class="bold">We encourage</p>
                  <p>collaboration and innovation for the good of
                    <br/>
                    the charity sector</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="ourmembers">
          <div class="wrapper">
            <h2 class="section-heading">OUR MEMBERS</h2>
            <div class="flex-container">
              <div class="ourmembers-item">
                <img src="themes/opencharity/images/section4_cancer.jpg" alt="cancer">
              </div>

              <div class="ourmembers-item">
                <img src="themes/opencharity/images/section4_compucorp.jpg" alt="compucorp">
              </div>

              <div class="ourmembers-item">
                <img src="themes/opencharity/images/section4_kop.jpg" alt="kop">
              </div>

              <div class="ourmembers-item">
                <img src="themes/opencharity/images/section4_zing.jpg" alt="zing"/>
              </div>

              <div class="ourmembers-item">
                <img src="themes/opencharity/images/section4_comic.jpg" alt="comic">
              </div>
            </div>
            <p class="dots">
              <a class="dots-link"></a>
              <a class="dots-link"></a>
              <a class="dots-link"></a>
            </p>
          </div>
        </section>

        <section id="blog" class="blog">
          <a class="left"><</a>
          <div class="wrapper">
            <h2 class="section-heading">BLOG</h2>
            <div class="flex-container">
              <div class="blog-item">
                <p class="bold">Online Donations Special</p>
                <p class="lorem">Lorem ipsum dolor sit amet,
                  <br/>
                  consectetur adipiscing elit, sed do
                  <br/>
                  eiusmod tempor incididunt ut labore et
                  <br/>
                  dolore magna aliqua</p>
                <p class="date">14 NOV 2014</p>
              </div>

              <div class="blog-item">
                <p class="bold">Online Donations Special</p>
                <p class="lorem">Lorem ipsum dolor sit amet,
                  <br/>
                  consectetur adipiscing elit, sed do
                  <br/>
                  eiusmod tempor incididunt ut labore et
                  <br/>
                  dolore magna aliqua</p>
                <p class="date">14 NOV 2014</p>
              </div>

              <div class="blog-item">
                <p class="bold">Online Donations Special</p>
                <p class="lorem">Lorem ipsum dolor sit amet,
                  <br/>
                  consectetur adipiscing elit, sed do
                  <br/>
                  eiusmod tempor incididunt ut labore et
                  <br/>
                  dolore magna aliqua</p>
                <p class="date">14 NOV 2014</p>
              </div>

              <div class="blog-item">
                <p class="bold">Online Donations Special</p>
                <p class="lorem">Lorem ipsum dolor sit amet,
                  <br/>
                  consectetur adipiscing elit, sed do
                  <br/>
                  eiusmod tempor incididunt ut labore et
                  <br/>
                  dolore magna aliqua</p>
                <p class="date">14 NOV 2014</p>
              </div>
            </div>
          </div>
          <a class="right">></a>
        </section>

        <footer>
          <div class="wrapper">
            <div class="social">
              <a href="https://facebook.com"><img src="themes/opencharity/images/footer_facebook.jpg" alt="fb"/>
              </a>
              <a href="https://facebook.com"><img src="themes/opencharity/images/footer_twitter.jpg" alt="twitter"/>
              </a>
              <a href="https://facebook.com"><img src="themes/opencharity/images/footer_gplus.jpg" alt="gplus"/>
              </a>
            </div>
            <div class="footer-text">
              This site was built as a collaboration between <a href="https://manifesto.co.uk">Manifesto Digital</a> and <a href="https://compucorp.co.uk">Compucorp</a>
            </div>
          </div>
        </footer>
      </main>
      <script src="themes/opencharity/js/scripts.js"></script>
    </body>
